.navbar-main {
    height: auto;
    width: 100%;
    /* background-color: ; */
    font-family: 'Itim', cursive;
}
.navbar-main h2{
    margin: 2% 2% ;
}
.navbar-main img{
    height: 52px;
    width: 52px;
    margin:0 8px -20px;
}
.navbar-main .theme-mode{
    font-size: 28px;
}
/* 
.menu-bars {
    color: black;
    font-size: 52px;
    position:fixed;
    right: 64px;
    z-index: 20;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


  
  .dropdown-content {
    display: none;
    position:fixed;
    right: 64px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */