.wallet {
    padding: 0 2rem;
    width: 12rem;
}
.wallet button{
    font-size: 20px;
    font-family: 'Itim', cursive;
    text-align: center;
    height:3rem;
    width: 12rem;
    border-radius: 12px;
    margin: 1rem 0 0;
    padding: 0 0.5rem 0;
    transition: 0.5s;
    color: #ffffff;
    border: 2px solid #06D85F;
    background-color: #06D85F;
}
.wallet button:hover{
    color: #06D85F;
    border: 2px solid #06D85F;
    background-color: #ffffff;
}
.account-wallet{
    margin: 0 1.2rem 0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sign-in {
    position: absolute;
    margin: 0.8rem 0 0 -2rem;
    color: #06D85F;
    font-size: 20px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid #06D85F;
    z-index: 9;
}
.sign-out {
    position: absolute;
    margin: 0.7% 0 0 -2rem;
    color: #06D85F;
    font-size: 20px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid #06D85F;
    z-index: 9;
}
.sign-out-div{
    position: fixed;
}

.content img{
    padding: 2rem 0 0;
    width:120px ;
    height: auto;
}
.select {
    display: flex;
    flex-direction: row ;
    font-size: 64px;
}
.select button{
    background-color: rgb(229, 253, 255);
    border: rgb(229, 253, 255);
    border-radius: 2rem;
    color: rgb(40, 13, 95);
    font-family: 'Itim', cursive;
    font-size: 32px;
    font-weight: 600;
    transition: all 0.4s;
    width: 48%;
    height: auto;
    margin: 0 0.5rem;
}
.select button:hover{
    background-color: #06D85F;
    border: 2px solid #06D85F;
    border-radius: 2rem;
    opacity: 92%;
}
.content .user {
    position: relative;
    margin: 0rem 0.1rem -1rem;
    color: #06D85F;
    font-size: 20px;
    padding: 1rem;
    z-index: 9;
}
.account-option{
    margin: 0 1.2rem;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.token{
    display: flex;
    flex-direction: column ;
}
.token img{
    position: relative;
    margin: 0rem 1.2rem -1rem;
    width: 64px;
    height: auto;
}
.token pre{
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: rgb(40, 13, 95);
    margin: 0 2rem;
}
.logout{
    margin: 16rem 0 0 8rem;
    width: 50%;
    height: 100%;
}
.logout button{
    font-family: 'Itim', cursive;
    width: 100%;
    font-size: 28px;
    color: #06D85F;
    border:2px solid #06D85F;
    border-radius: 1rem;
    background-color: #ffffff;
    position: relative;
    transition: 0.2s;
}
.logout button:hover{
    color: #ffffff;
    border:2px solid #06D85F;
    background-color: #06D85F;
}