@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); /*font-family: 'Itim', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); /*font-family: 'Caveat', cursive; */

h1{font-size: 36px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.Main {
    overflow-x: hidden;
}